@import "tailwindcss";

@font-face {
	font-family: Aujournuit;
	src: url(/fonts/Aujournuit-Regular.woff2);
}

@font-face {
	font-family: Ronzino;
	src: url(/fonts/Ronzino-Regular.woff2);
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Aujournuit";
}

h1 {
	font-size: 18px;
}

span {
	font-size: 24px;
}
