@font-face {
    font-family: 'Aujournuit';
    src: url('/fonts/Aujournuit-Regular.woff2');
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Aujournuit';
    color: #50C878;
}

a:hover {
    color: #50C878;
}
  
.paper {
    color: #181011;
    position: relative;
    margin: 40px auto;
    padding: 60px 40px;
    width: 80%;
    max-width: 900px;
    background: #f6f1e7;
    box-shadow: 0 0 10px 2px rgba(102, 51, 0, 0.269);
  
    clip-path: polygon(
        0% 3%, 5% 1%, 10% 3%, 15% 1%, 20% 3%, 25% 1%, 30% 3%, 35% 1%, 40% 3%, 45% 1%, 50% 3%, 55% 1%, 60% 3%, 65% 1%, 70% 3%, 75% 1%, 80% 3%, 85% 1%, 90% 3%, 95% 1%, 100% 3%,
        100% 97%, 95% 99%, 90% 97%, 85% 99%, 80% 97%, 75% 99%, 70% 97%, 65% 99%, 60% 97%, 55% 99%, 50% 97%, 45% 99%, 40% 97%, 35% 99%, 30% 97%, 25% 99%, 20% 97%, 15% 99%, 10% 97%, 5% 99%, 0% 97%
    );
    transition: clip-path 0.2s ease;
}
  